<html>
    <head>
    <meta charset="utf-8">
    <title>Top Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/topr.css">
    </head>
    <body>
        <!-- The video -->
    <video autoplay muted loop id="myVideo">
    <source src="top2.mp4" type="video/mp4">
  </video>
  
  <!-- Optional: some overlay text to describe the video -->
  <div class="content">
    <p class="headline">
    <img class="logo" src="nemo.png" width="55px" alt="Image by acaladolopes from Pixabay">&nbsp;Finding Nemo</p>
    <%# <button id="myBtn" onclick="location.href='./login'">Sign in</button>
    <button id="myBtn" onclick="location.href='./signup'">Register</button> %>
    <button id="myBtn" onclick="location.href='./index'">ENTER to log and view your fish</button>
  </div>
    </body>
</html>